#guess-num {
  padding: 10px;
  // background-color: grey;
  border: inset 4px $main-button-color;
  display: inline-block;
}
#clue {
  padding: 10px;
  // background-color: grey;
  border: inset 4px $main-button-color;
  display: inline-block;
}
#word-dash {
  padding: 10px;
  // background-color: grey;
  border: inset 4px $main-button-color;
  display: inline-block;
}
#prizewon {
  padding: 10px;
  // background-color: grey;
  border: inset 4px $main-button-color;
  display: inline-block;
}
#used-ltrs {
  padding: 10px;
  // background-color: grey;
  border: inset 4px $main-button-color;
  display: inline-block;
  height: 15px;
}
#prize {
  padding: 10px;
  // background-color: grey;
  border: inset 4px $main-button-color;
  display: inline-block;
  height: 15px;
}
