.keys {
  background-color: $main-button-color;
  padding: 5px;
  margin: 2px;
  border-radius: 5px;
  font-weight: bold;
  font-family: inherit;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.keys:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
#word-submit:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
#rules-btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
#keyboard-wrapper {
  grid-column: 1/3;
}
#new-word-btn {
  display: block;
  margin: 5px auto;
  background-color: $third-button-color;
  color: $text-color;
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
  grid-column: 1/3;
}
#rules-btn {
  margin-right: 10%;
  display: inline;
  background-color: $main-button-color;
  padding: 5px 5px;
  border-radius: 5px;
  font-family: inherit;
  grid-column: 2/3;
  // position: relative;
  // left: 70px;
}
#word-submit {
  margin: 5px;
  background-color: $main-button-color;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  font-family: inherit;
}
#cluebtn {
  width: 200px;
  grid-column: 1/3;
  margin: 5px auto;
  background-color: $third-button-color;
  color: $text-color;
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
  display: inline-block;
}
