#modal1 {
  background-color: $main-button-color;
  // to center modal divide (100-width)/2 and put as margin
  width: 50%;
  grid-column: 1/3;
  position: absolute;
  margin: 15% 25%;
  z-index: 1;
  display: none;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
#m1-para {
  background-color: white;
  width: 85%;
  padding: 10px 10px;
}
#m2-para {
  background-color: white;
  width: 85%;
  padding: 10px 10px;
}
#m1-heading {
  background-color: white;
  width: 85%;
}
#m1-closebtn {
  margin: 5px auto;
  background-color: $third-button-color;
  color: $text-color;
  padding: 5px;
  border-radius: 5px;
  font-family: inherit;
}
